In [363]:
import pandas as pd
import numpy as np

In [362]:
data = pd.read_excel('D:/01-1(1).xls')

dict_1 = {}
for j in data['日期'].unique():
    dict_2 = {}
    for i in data['考勤号码'].unique():
        dict_3 = {}
        name_time = data.loc[(data['考勤号码'] == i)&(data['日期'] == j)]
        if len(name_time['考勤号码']) != 0:
            if len(name_time['考勤号码']) == 1:
                if name_time['时间'].iloc[0].hour>12:
                    dict_3[i] = round((name_time['时间'].iloc[0].hour*3600+name_time['时间'].iloc[0].minute*60+name_time['时间'].iloc[0].second-9*3600)/3600,2)
                if name_time['时间'].iloc[0].hour<12:
                    dict_3[i] = round((18*3600-name_time['时间'].iloc[0].hour*3600+name_time['时间'].iloc[0].minute*60+name_time['时间'].iloc[0].second)/3600,2)
            else:
                dict_3[i] = round((max(name_time['时间']).hour*3600+max(name_time['时间']).minute*60+max(name_time['时间']).second-min(name_time['时间']).hour*3600+min(name_time['时间']).minute*60+min(name_time['时间']).second)/3600,2)
        
        else:
            continue
        dict_2[i] = dict_3
    dict_1[j] = dict_2
finall = pd.DataFrame.from_dict(dict_1,orient='index').T
finall

,2021-12-02,2021-12-03,2021-12-06,2021-12-07,2021-12-08,2021-12-09,2021-12-13,2021-12-15,2021-12-16,2021-12-17,...,2021-12-14,2021-12-18,2021-12-25,2021-12-31,2021-12-04,2021-12-29,2021-12-26,2021-12-05,2021-12-12,2021-12-19
212,{212: 8.06},{212: 4.95},{212: 4.69},{212: 7.95},{212: 9.29},{212: 7.22},{212: 9.38},{212: 9.9},{212: 5.68},{212: 4.38},...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,{216: 9.76},NaN,{216: 9.82},{216: 5.68},NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,{217: 11.13},{217: 11.01},{217: 11.04},{217: 11.23},{217: 14.86},{217: 10.79},{217: 13.44},{217: 12.72},{217: 13.27},{217: 13.15},...,{217: 12.67},{217: 10.52},{217: 13.46},{217: 10.8},NaN,NaN,NaN,NaN,NaN,NaN
218,{218: 8.81},{218: 0.69},{218: 0.11},{218: 11.54},{218: 9.34},{218: 4.93},{218: 11.42},{218: 3.65},{218: 10.93},{218: 3.83},...,{218: 7.36},{218: 8.21},{218: 10.0},NaN,{218: 6.65},NaN,NaN,NaN,NaN,NaN
220,{220: 9.57},{220: 10.0},{220: 9.78},{220: 9.53},{220: 9.68},{220: 9.7},{220: 9.34},{220: 10.2},{220: 9.47},{220: 9.52},...,{220: 9.47},NaN,NaN,{220: 9.33},NaN,{220: 9.86},NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,{272: 9.38},NaN,{272: 10.96},NaN,NaN,NaN,NaN
273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,{273: 9.63},NaN,{273: 10.35},NaN,NaN,NaN,NaN
225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [374]:
str(finall.iloc[0,0]).

'{212: 8.06}'

In [372]:
def add_one(dict1):
    try:
        np.isnan(dict1)
    except:
        return dict1.values()
finall.applymap(add_one)

,2021-12-02,2021-12-03,2021-12-06,2021-12-07,2021-12-08,2021-12-09,2021-12-13,2021-12-15,2021-12-16,2021-12-17,...,2021-12-14,2021-12-18,2021-12-25,2021-12-31,2021-12-04,2021-12-29,2021-12-26,2021-12-05,2021-12-12,2021-12-19
212,(8.06),(4.95),(4.69),(7.95),(9.29),(7.22),(9.38),(9.9),(5.68),(4.38),...,None,None,None,None,None,None,None,None,None,None
216,(9.76),None,(9.82),(5.68),None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
217,(11.13),(11.01),(11.04),(11.23),(14.86),(10.79),(13.44),(12.72),(13.27),(13.15),...,(12.67),(10.52),(13.46),(10.8),None,None,None,None,None,None
218,(8.81),(0.69),(0.11),(11.54),(9.34),(4.93),(11.42),(3.65),(10.93),(3.83),...,(7.36),(8.21),(10.0),None,(6.65),None,None,None,None,None
220,(9.57),(10.0),(9.78),(9.53),(9.68),(9.7),(9.34),(10.2),(9.47),(9.52),...,(9.47),None,None,(9.33),None,(9.86),None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,None,None,None,None,None,None,None,None,None,None,...,None,None,None,(9.38),None,(10.96),None,None,None,None
273,None,None,None,None,None,None,None,None,None,None,...,None,None,None,(9.63),None,(10.35),None,None,None,None
225,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
236,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
160,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [273]:
bbb.to_csv('D:/考勤.csv')

In [293]:
float(str(dict1)[-5:-1])

8.06